#header {
    background-color: #0D0D0D;
    color: #F2EDE4;
    height: 5.5rem;
    display: flex;
    justify-content: center;
}

h1 {
    font-family: 'Pacifico', cursive;
    font-size: 3rem;
    margin: 0;
}

.menu-container {
    position: absolute;
    left: 2rem;
    top: 2rem;
}

.menu-container i {
    color: white;
}