h3 {
  text-align: center;
}

.add-brewery-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
}

.form-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 25rem;
  margin-bottom: 2rem;
}

.form-field {  
  width: 16rem;
  font-size: 1rem;
  background-color: #ffffff;
}

.add-brewery-button {
  border: 2px solid #0D0D0D;
  background-color: #BF4904;
  font-size: 1rem;
  height: 2rem;
  width: 8rem;
  margin-top: 2rem;
}